.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 175px;
  background-color: var(--main-color);
}

.wrapperLogo {
  width: 320px;
  height: 115px;
}

.wrapperTitle {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 30px;
}

.title {
  font-size: 28px;
  color: white;
}
