* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
:root {
  --main-color: rgba(54, 112, 184, 1);
  --second-color: white;
  --primary-color: rgba(30, 30, 30, 1);
  --ghost-color: rgba(14, 28, 46, 0.6)
}
