.buttonTextSearch {
  font-size: var(--font-standart);
  color: var(--primary-color);
  line-height: 1.1;
}

.buttonSearch {
  cursor: pointer;
  display: flex;
  border-radius: var(--border-radius-normal);
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: var(--second-color);
  border: 2px solid var(--primary-color);
}
